# Mac OS X
*.DS_Store
tags

tmp
obj/
build/
bin/
obj
BenchmarkDotNet.Artifacts/
*.exe
*.dylib*
*.mdb
*.dll*
*.bhc
*.meta
# but DO track the Unity package's .meta files (needed for stable GUIDs via UPM/OpenUPM)
!src/*.meta
!src/**/*.meta
# ...except the deferred compiler plugin folder (dll + meta stay out until finalized)
src/unity/Plugins/
*.sln.DotSettings.user
util/antlr*.jar

src/lsp/vsclient/node_modules/*
src/lsp/vsclient/out/*

.idea
.dotnet
.vscode
