# Mac OS X
*.DS_Store
tags

tmp
obj/
build/
bin/
obj
BenchmarkDotNet.Artifacts/
*.exe
*.dylib*
*.mdb
*.dll*
*.bhc
*.meta
*.sln.DotSettings.user
util/antlr*.jar

src/lsp/vsclient/node_modules/*
src/lsp/vsclient/out/*

.idea
.dotnet
.vscode
